/* START My Custom */

p{
	text-align: justify;
}

/* .home-banner {
	background-image: url(../img/Sorriso-1200x720.jpg);
} */

.nav-back-tr {
    background-color: transparent;
    border-color: transparent;
}

.white {
    color: #ffffff;
}

.intro h2 {
    text-transform: uppercase;
    font-size: 3.875rem;
    line-height: 5.75rem;
    letter-spacing: 11px;
    color: #ffffff;
}

.intro p {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #ffffff;
    letter-spacing: 5px;
}

.parallax {
    /* The image used */
    background-image: url(../img/mel01-1200x720.jpg);

    /* Set a specific height 
    min-height: 500px; */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#wrapper {
    position:absolute;
    height:100%;
    width:100%;
}

.panels {
    position:relative;
    height:100%;
    min-height:100%;
    width:100%;
    z-index:1000;
}

#a{
   
    position:fixed;
    
    top:0;
    z-index:-99;
}

#b{
   margin-top:100%;
   background: #ffffff;
}



/* END My Custom */

/* START Bootstrap Custom */

.navbar-custom {
  border-color: transparent;
  padding: 10px 0;
}



/* END Bootstrap Custom */
