/* START My Custom */

p{
	text-align: justify;
}

/* .home-banner {
	background-image: url(../img/Sorriso-1200x720.jpg);
} */

.nav-back-tr {
    background-color: transparent;
    border-color: transparent;
}
.white {
	color: #ffffff;
}

#wrapper {
    position:absolute;
    height:100%;
    width:100%;
}

.panels {
    position:relative;
    height:100%;
    min-height:100%;
    width:100%;
    z-index:1000;
}

#a{
   
    position:fixed;
    
    top:0;
    z-index:-99;
}

#b{
   margin-top:100%;
   background: #ffffff;
}



/* END My Custom */

/* START Bootstrap Custom */

.navbar-custom {
  border-color: transparent;
  padding: 10px 0;
}



/* END Bootstrap Custom */
